<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">tinker</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="./homepage-manager.hbs">All Users </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="./homepage-manager-employee.hbs">All Employee</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="./homepage-manager-dates.hbs">Dates </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="./homepage-manager-count.hbs">Counts </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Revenue
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="./homepage-manager-revenue-cust.hbs">Total revenue by customer</a>
                    <a class="dropdown-item" href="./homepage-manager-revenue-custrep.hbs">Total revenue by customer representative</a>
                </div>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav ml-auto">
        <a href="/logout" class="btn btn-success btn-lg btn-block" style="margin-right:30px; border-radius:24px"> LOG OUT</a>
    </ul>
</nav>