<!doctype html>
<html lang="en">

<head>
    {{> head_element }}
</head>

<body>
    {{> header_with_back_button back_url="/homepage-manager.hbs" }}
    <span class="content">
        <form class="form-signin" method="post">
            <h1 class="h3 mb-3 font-weight-normal" style="font-family: 'Gaegu'; margin:15px, 0, 15px, 0;">Add New User</h1>
            <label for="SSN">Social Security Number</label>
            <input type="text" id="SSN" name="ssn" class="form-control" placeholder="Social Security Number" required>
            <label for="SSN"></label>
            <label for="PPP">Profile Placement Priority</label>
            <input type="text" id="PPP" name="ppp" class="form-control" placeholder="Profile Placement Priority" required>
            <label for="PPP"></label>
            <label for="Rating">Rating</label>
            <input type="text" id="Rating" name="rating" class="form-control" placeholder="Rating" required>
            <label for="Rating"></label>

            <button class="btn btn-lg btn-success btn-block" type="submit">Confirm</button>
        </form>
    </span>
</body>