<!doctype html>
<html lang="en">
      <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
        <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css?family=Gaegu|Roboto" rel="stylesheet">

        <title>Tinker | Manager</title>
            <style>
                body{

                    background-size: cover;
                    background-color: #FFF0F5;
                    max-width: 100%;
                    overflow-x: hidden;
                }
                h1{
                    font-family: 'Gaegu';
                }

                label{
                    font-family: 'Gaegu';
                }
                input{
                    margin-bottom: 10px;
                }
                .navbar-brand{
                    font-size: 2.5em;
                    margin-left: 70px;
                    font-family: 'Aclonica';
                }

                .content{
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-align: center;
                    align-items: center;
                    padding-top: 40px;
                    padding-bottom: 40px;
                    margin-top : 150px;
                }

              .form-signin {
                width: 100%;
                max-width: 600px;
                padding: 10px;
                margin: auto;}

              .form-signin .checkbox {
                font-weight: 400;}

              .form-signin .form-control {
                position: relative;
                box-sizing: border-box;
                height: auto;
                padding: 10px;
                font-size: 16px;}

              .form-signin .form-control:focus {
                z-index: 2;}

                .form-signin input[type="email"] {
                  margin-bottom: -1px;
                  border-bottom-right-radius: 0;
                  border-bottom-left-radius: 0;}

                .form-signin input[type="password"] {
                  margin-bottom: -1px;
                  border-top-left-radius: 0;
                  border-top-right-radius: 0;}





            </style>
      </head>

      <body>
              <nav class="navbar navbar-expand-lg navbar-light bg-light">

                  <a class="navbar-brand" href="../homepage-manager.hbs">tinker</a>

                  <ul class="navbar-nav ml-auto">
                      <a href ="../homepage-manager.hbs" class = "btn btn-danger btn-lg btn-block" style="margin-right:30px; border-radius:24px;font-family: 'Gaegu'"> Cancel</a>
                  </ul>

              </nav>
              <span class ="content">
              <form class="form-signin" method="post">
                    <h1 class="h3 mb-3 font-weight-normal" style="font-family: 'Gaegu'; margin:15px, 0, 15px, 0;">Edit User</h1>
                    <fieldset disabled>
                      <label for="SSN">Social Security Number</label>
                      <input type="text" id="SSN" name="ssn" class="form-control" value="{{users.0.ssn}}" required>
                    </fieldset>

                      <label for="PPP">Profile Placement Priority</label>
                      <input type="text" id="PPP" name="ppp" class="form-control" value="{{users.0.ppp}}" required>
                      <label for="PPP"></label>

                      <label for="Rating">Rating</label>
                      <input type="text" id="Rating" name="rating" class="form-control" value="{{users.0.rating}}" required>
                      <label for="Rating"></label>

                      <label for="time">Date Since Last Active</label>
                      <input type="text" id="time" name="time" class="form-control" value="{{users.0.date_of_last_act}}" required>
                      <label for="time"></label>

                      <button class="btn btn-lg btn-success btn-block" type="submit">Confirm</button>

                 </form>
             </span>


              <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
              <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
              <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js" ></script>

              <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" ></script>
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
      </body>
